<link rel="stylesheet" href="application.css" type="text/css" />


<h6>Your form has been submitted.</h6>

<p> &amp; the winner is ...<%= params[:red] %>.</p>

<p>Sorry, <%= params[:blue] %>. Better luck next time.</p>